<a (click)="addTexto()">Texto ( {{contador.texto}} )</a>
<a (click)="addCasillas()">Casillas ( {{contador.casilla}} )</a>
<a (click)="addDesplegable()">Desplegable ( {{contador.opciones}} )</a>

<h2>{{encuestaName}}</h2>
<input type="text" class="form-control" [(ngModel)]="encuestaName" /><br>


<div class="container">
  <ng-container  *ngFor="let campo of campos; let i = index" [ngSwitch]="campo.tipo">

      <ng-template [ngSwitchCase]="'texto'">
        <label>{{campo.texto}}</label><br>
        <input type="text" class="form-control" placeholder="Escriba aquí"><br>
      </ng-template>

      <ng-template [ngSwitchCase]="'casilla'">
        <input type="checkbox" value="false"> <label>{{campo.texto}}</label><br>
      </ng-template>

      <ng-template [ngSwitchCase]="'opciones'">
        <label>{{campo.texto}}</label><br>
        <select name="{{campo.texto}}">
          <option value="opcion1">opcion1</option>
          <option value="opcion2">opcion2</option>
          <option value="opcion3">opcion3</option>
        </select><br>
      </ng-template>

  </ng-container>
</div>
